@import url(http://127.0.0.1:5500/asset/css/tailwindcss);

* {
  -webkit-fill-color: #01161e;
  -webkit-fill-color: #124559;
  -webkit-fill-color: #598392;
  -webkit-fill-color: #aec3b0;
  -webkit-fill-color: #eff6e0;
}

body {
  background: linear-gradient(to top left, #598392, #eff6e0);
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 12px;
  background-attachment: fixed;
}
.card {
  width: auto;
  height: 100%;
  padding: 10%;
}
.glass-bg {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* light border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* optional shadow */
  height: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  border: solid 0.5px gray;
  border-radius: 23px;
  padding: 0 15px;
}
.search input {
  flex: 1;
  background: transparent;

  padding: 13px 0;
}
.search input:focus {
  outline: none;
  background-color: transparent;
}
.search button {
  cursor: pointer;
  background: transparent;
  border: none;
  filter: invert(40%);
  margin-left: 3px;
}
.search-icon {
  background: none;
}
.icon {
  height: 90%;
  max-height: 20px;
  width: auto;
}
.weather-container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 2fr 2fr;
}
.city-name-container {
  grid-column: 1 / span 3;
}
.arrow-icon,
.sun-icon {
  height: 22px;
}
.padding-icon {
  padding: 0 0 0 5px;
  white-space: nowrap;
}
.container-sun-min-max > div {
  padding: 5px;
}
.tem-sec {
  grid-column: 1 / span 3;
  justify-content: center;
}
.climate-change {
  grid-column: 1;
  grid-row: 2;
}
.degree {
  grid-column: 3;
  overflow: hidden;
  display: inline;
  font-size: 80px;
  white-space: nowrap;
  position: static;
}
.icon-weather {
  grid-column: 2;
  max-width: 90%;
  text-align: center;
  max-width: 320px;
  width: 60%;
}
.weather-container {
  display: none;
}
.get-location-btn {
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  border: solid #252422 0.5px;
  background-color: #252422;
  color: #fffcf2;
  padding: 13px;
  border-radius: 23px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
.get-location-btn:hover {
  opacity: 0.7;
}
.get-location-btn.click {
  opacity: 0.7;
}
.get-location-btn:focus {
  outline: none;
}

/* responsive */
